In [30]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori,association_rules

In [31]:
records = [['a','b','e'],
       ['a','b','c','e'],
       ['a','b','d','e'],
       ['a','c','d','e'],
       ['b','c','e'],
       ['b','d','e'],
       ['c','d'],
       ['a','b','c'],
       ['a','d','e'],
       ['a','b','e']]

In [35]:
te = TransactionEncoder()
te_ary = te.fit(records).transform(records) #to transform the list above to transaction data

In [37]:
data = pd.DataFrame(te_ary, columns=te.columns_)
data #to view the data

       a      b      c      d      e
0   True   True  False  False   True
1   True   True   True  False   True
2   True   True  False   True   True
3   True  False   True   True   True
4  False   True   True  False   True
5  False   True  False   True   True
6  False  False   True   True  False
7   True   True   True  False  False
8   True  False  False   True   True
9   True   True  False  False   True

In [39]:
frq_items= apriori(data,min_support=0.5,use_colnames=True)
rules = association_rules(frq_items, metric ="lift", min_threshold = 1)
rules = rules.sort_values(['confidence', 'lift'], ascending =[False, False])
print(rules.head())

  antecedents consequents  antecedent support  consequent support  support  \
2         (a)         (e)                 0.7                 0.8      0.6
4         (b)         (e)                 0.7                 0.8      0.6
3         (e)         (a)                 0.8                 0.7      0.6
5         (e)         (b)                 0.8                 0.7      0.6
0         (b)         (a)                 0.7                 0.7      0.5

   confidence      lift  leverage  conviction
2    0.857143  1.071429      0.04        1.40
4    0.857143  1.071429      0.04        1.40
3    0.750000  1.071429      0.04        1.20
5    0.750000  1.071429      0.04        1.20
0    0.714286  1.020408      0.01        1.05